#donor_information
  %h2
    Donor Information for Presidential Election
  #top_donors
    %h3
      Top 10 Presidential Donors
    - @top_ten_donors.each_with_index do |donor, index|
      .donor
        .rank
          = index + 1
        .donation
          %h4
            =h donor.first
          %p
            Amount Donated:
            = number_to_currency donor.last
  #preferred_party
    %div{:class => preferred_party_class(@party_totals)}
      = preferred_party_text(@party_totals)
