.record
  %h3
    == #{representative.full_name}&rsquo;s Legislation Introduced
  .records
    .record_entry
      %h4
        %a{ :href => "#", :title => "Bill Name" }
          Bill Name
      %p.date
        Introduced on 12/19/2007
      %p
        Congratulating University of Florida Quarterback Timothy "Tim" Tebow for winning the Heisman Trophy and honoring both his athletic and academic achievements.
    .record_entry
      %h4
        %a{ :href => "#", :title => "Bill Name" }
          Bill Name
      %p.date
        Introduced on 12/19/2007
      %p
        Congratulating University of Florida Quarterback Timothy "Tim" Tebow for winning the Heisman Trophy and honoring both his athletic and academic achievements.
    .record_entry
      %h4
        %a{ :href => "#", :title => "Bill Name" }
          Bill Name
      %p.date
        Introduced on 12/19/2007
      %p
        Congratulating University of Florida Quarterback Timothy "Tim" Tebow for winning the Heisman Trophy and honoring both his athletic and academic achievements.
