#spending_information
  %h2
    Spending Information
  #top_contracts
    %h3
      Top 5 Contracts
    .contract
      .rank
        1
      .contract_info
        %h4
          Name of Company
        %p
          Amount Contracted: $2,000,00
    .contract
      .rank
        2
      .contract_info
        %h4
          Name of Company
        %p
          Amount Contracted: $2,000,00
    .contract
      .rank
        3
      .contract_info
        %h4
          Name of Company
        %p
          Amount Contracted: $2,000,00
    .contract
      .rank
        4
      .contract_info
        %h4
          Name of Company
        %p
          Amount Contracted: $2,000,00
    .contract
      .rank
        5
      .contract_info
        %h4
          Name of Company
        %p
          Amount Contracted: $2,000,00