= render :partial => 'form'

- representatives = [@locality.representative, @locality.senior_senator, @locality.junior_senator]

#representative_information
  %h2
    My Local Congress People
  = render :partial => "representative", :collection => representatives

= render :partial => 'donor_information' unless @top_ten_donors.nil?
