= render :partial => 'form', :locals => { :search_description => "Localpolitics.in" }

- if @locality.has_legislators?
  #representative_information
    %h2
      My Local Congress People
    #equalize
      = render :partial => "representative", :collection => @locality.congress_people

= render :partial => 'donor_information' unless @top_ten_donors.nil?
