/*
----------------------------------------
Apps for America - Localpolitics.in
     Author:    Dennis Eusebio
---------------------------------------- */

/* zeros out everything */
@import "whitespace-reset.css";

body {
  background: #1a294d;
  font: .8em/150% Arial, sans-serif;
  color: #000;
}

p { margin-bottom: .8em; }
small { font-size: 90%; }

/* links
---------------------------------------- */
a:link { 
  color: blue; 
  font-weight: bold; 
}
a:visited {
  color: blue; 
  font-weight: bold;
}
a:hover {
  color: black; 
  font-weight: bold;
}
a:active {
  color: blue; 
  font-weight: bold;
}

/* headers
---------------------------------------- */
h1, h2, h3, h4 {
  line-height: normal;
}
h1 { font-size: 250%; }
h2 { 
  margin-bottom: 20px;
  font-size: 180%; 
}
h3 { font-size: 140%; }
h4 { font-size: 120%; }


/* universal
---------------------------------------- */
#container {
  margin: 20px auto;
  width: 950px;
}
  #header {
    margin-bottom: 20px;
    float: left;
    width: 950px;
  }
    #logo {
      margin-left: 20px;
      text-indent: -9999px;
      display: block;
      width: 129px; height: 56px;
      background: url(/images/logo.png) no-repeat;
    }

  #application {
    float: left;
    width: 950px;
  }

  #footer {
    margin: 20px 0; padding: 0 20px;
    float: left;
    width: 910px;
    font-size: 90%;
    color: #ccc;
  }
  
    #footer p { margin: 0; }
    #footer a:link, #footer a:visited, #footer a:hover, #footer a:active { color: #ddd; }
    #footer a:hover { color: #fff; }
    
    .small {
      font-size:0.8em;
      line-height:1.875em;
      margin-bottom:1.875em;
    }

    .hashrocket {
      background:transparent url(/images/logo_hr.png) no-repeat scroll left bottom;
      float:left;
      margin:5px 0 0 0;
      padding:5px 0 5px 30px;
    }

    .sunlight_foundation {
      background:transparent url(/images/sunlight_foundation.jpg) no-repeat scroll left bottom;
      float:left;
      margin:5px 0 0 20px;
      padding:5px 0 5px 65px;
    }

    .thought_and_theory {
      background:transparent url(/images/thought_and_theory.gif) no-repeat scroll left bottom;
      float:left;
      margin:0 0 10px 20px;
      padding:10px 0 10px 128px;
    }

/* page specific
---------------------------------------- */
/* index */
#search_zip {
  padding: 0 5px 0 45px;
  float: left;
  width: 895px; height: 64px;
  background: url(/images/bg_search.png) no-repeat;
}
  #search_zip p { 
    margin: 0;
    float: left;
  }
  #search_zip label { display: none; }
  #search_zip #title_tagline {
    margin-top: 10px;
    text-indent: -9999px;
    float: left;
    width: 490px; height: 24px;
    background: url(/images/title_stayupdated.gif) no-repeat;
  }
  #search_zip input { 
    margin: 7px 0 0 0; 
    vertical-align: middle;
  }
  #search_zip input#f_address {
    margin: 7px 10px 0 10px; padding: 5px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 120%;
    font-weight: bold;
    color: #333;
    width: 200px;
  }
  

/* search results */
h1#logo span {
  padding: 5px;
  background: blue;
  color: #fff;
}

#filters {
  margin-top: 20px;
  float: left;
  width: 950px;
}
  #filters a:link, #filters a:visited, #filters a:hover, #filters a:active {
    padding: 10px;
    float: left;
    width: 200px;
    background: #eee;
    text-align: center;
  }
    #filters a:hover, #filters a.selected { 
      background: blue; 
      color: #fff; 
    }

#representative_information {
  margin: 20px 0;
  float: left;
  width: 950px;
}
  #representative_information h2 {
    float: left;
    width: 950px;
  }
  #representative {
    margin-right: 10px;
    float: left;
    width: 300px;
    display: inline;
  }
    #profile {
      padding: 10px;
      border: 1px solid #ccc;
      background: #eee;
    }
  #record {
    float: right;
    width: 630px;
  }
    #records {
      float: left;
      width: 630px;
    }
      .record_entry {
        padding: 20px 10px;
        float: left;
        width: 610px;
        border-bottom: 1px solid #ddd;
      }

#donor_information {
  margin: 20px 0;
  float: left;
  width: 950px;
}

