== Dear #{@congress_person.full_name},

== #{@citizen_name} has requested we email you to invite you to twitter.
- if @personal_message

  He or she would like to pass along this personal message:

  = @personal_message

= @invitation_text

Sincerely,
Localpolitics.in
http://localpolitics.in
